doctype html
html(lang="ja")
    head
        meta(charset="UTF-8")
        title cart
    body
        h1 カート
        div
            p カートの中のレモンの数: #{amount}
        div
            a(href="/") ホームに戻る
