doctype html
html(lang="ja")
    head
        meta(charset="UTF-8")
        title login
    body
        h1 ログイン
        form(action="/login" method="POST")
            div
                span user:
                input(name="username", type="text" value="testman")
            div
                span pass:
                input(name="password", type="password" value="pass123")
            div
                button(type="submit") login
