doctype html
html(lang="ja")
    head
        meta(charset="UTF-8")
        title search
    body
        h1 検索結果
        div
            p search keyword
            #keyword
        script(src="/search.js")
